/RestServices.mpr.bak
/deployment
/releases
/.settings
/*.launch
/.classpath
/.project
/*.mpr.lock
.mendix-cache
proxies

/.svn
/modeler-merge-marker
/.mendix-cache
/*.mpr.bak
/*.mpr.left*
/*.mpr.right*
#mxgit-marker-start
./.svn
./modeler-merge-marker
./.mendix-cache
./*.mpr.lock
./*.mpr.bak
./*.mpr.left*
./*.mpr.right*
./.settings
./deployment
./releases
*.launch
.classpath
.project
#mxgit-marker-end
